# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Docker and CI
.docker/
Jenkinsfile
docker-compose*.yml
deploy/
.git/
.gitignore
.dockerignore

# App Specific
backend/uploads/
backend/*.db
backend/*.sqlite3
*.log

# OS
.DS_Store
Thumbs.db
